
.discoverToolContainer {
    display: flex;
    flex-direction: row; /* Arrange child elements horizontally */
    width: 100%;
    max-width: 1212px; /* Adjust as needed */
    margin: 0 auto;
    height: 400px; /* Set the desired height */
    border-bottom: 2px solid #FA8D0C; 
}

/* Enter your Ingredients Container
STILL NEEDS WORK
*/ 

.enterIngredientsTab {

    flex: 1; 
    padding: 20px;
    background-color: beige;
    /*
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    */
}

.enterIngredientsTab p {
    text-align: center;
}

.enterIngredientsContent {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.enterIngredientsTab input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; 
    box-sizing: border-box;
    margin-right: 10px;
}

.enterIngredientsTab button {
    padding: 10px;
    font-size: 16px;
    background-color: #FA8D0C; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Ingredients List Container*/

.ingredientsListTab {
    flex: 1; /* Each tab takes up equal space */
    padding: 20px; /* Adjust as needed */
    background-color: rgba(228, 228, 228, 0.3);
}

.ingredientsListTab {

}

.ingredientsListTab ul {

}



