@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-string: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.logo {
    position: absolute;
    width: auto; /* Width of the logo image. */
    height: 80px; /* Height of the logo image. */
    left: 25px; /* Position from the left edge of its container. */
    top: 0px; /* Positioned at the top edge of its container. */
}

.navbar {
    position: fixed; /* Fix the Navbar at the top of the viewport */
    top: 0; /* Align the top edge of the Navbar with the top edge of the viewport */
    left: 0; /* Align the left edge of the Navbar with the left edge of the viewport */
    width: 100%; /* Navbar spans the full width of the viewport */
    z-index: 1000; /* Ensure Navbar stays on top of other content */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-height: 70px;
    border-bottom: 2px solid #FA8D0C; 
}

.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    position: fixed;
    right: 0;
    padding-right: 20px;
}

.navLink{
    font-family: 'Mochiy Pop One';
}
.appTitle{
    position: absolute;
    width: 208px; /* Width of the text block. */
    height: 30px; /* Height of the text block. */
    left: 104px; /* Position from the left, making space for the logo. */
    top: 29px; /* Centers the text vertically within the header. */
    font-family: 'Mochiy Pop One'; /* Custom font for the text. */
    font-style: normal;
    font-weight: 400;
    font-size: 18px; /* Size of the font. */
    line-height: 52px; /* The height of each line of text. */
    color: #000000; /* Color of the text. */
}

/* Responsive Hamburger */
@media screen and (max-width: 780px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }

    .bar {
        background-color: #120f0b;
        width: 20px;
        height: 3px;
        display: block;
        margin: 5px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navMenu {
        position: absolute;
        flex-direction: column;
        gap: 0;
        top: 70px;
        left: -100%;
        text-align: start;
        width: 100%;
        transition: 0.7s ease-in-out;
        background-color: aliceblue;
        padding: 10px;
    }

    .navMenu.active {
        left: 0;
    }

    .navMenu li {
        margin: 16px 0;
    }
}