.pageBackground {
  background-color: #fce7dc;
  min-height: 86vh;
}

.profileContainer {
  padding: 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
}

.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

.userInfo {
  background-color: #fff3eb;
  border: 2px solid #f5b98e;
  border-radius: 10px;
  padding: 1.5rem;
  font-size: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.loading {
  text-align: center;
  font-style: italic;
}
